@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-roboto;
}

.no-scrollbar {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE/Edge */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chonre, Safari */
}